doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-material.min.css')
    script(type='text/javascript', src='/javascripts/lib/angular.min.js')
    script(type='text/javascript', src='/javascripts/lib/angular-animate.min.js')
    script(type='text/javascript', src='/javascripts/lib/angular-aria.min.js')
    script(type='text/javascript', src='/javascripts/lib/angular-material.min.js')
  body(ng-app='login')
    block content
