body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
}

a {
    color: #00B7FF;
}

.mainContainer {
    height: -webkit-calc(100% - 64px);
    width: 100%;
    background: green;
    overflow: auto;
    width:100%;
}
.chooseapp:hover{
	background-color: tan;
}

.chooseapp{
	margin:1px;
}

/*div.layout-column{
	display:block;
}
div.layout-row{
	display:inline-block;
}*/
#theview{
	height:-webkit-calc(100% - 80px);
	width:100%;
}