<md-toolbar class="md-primary">
</md-toolbar>
<div ng-controller='loginCtrl'> Hello html!
    <md-button class="md-primary" ng-click="login()">test angularmaterial</md-button>
    <div layout="row" flex>
        <div flex='40' class="md-whiteframe-1dp"> div one</div>
        <div flex='60'>div two</div>
    </div>
    <md-button class="md-primary" ng-click="testAuth()">test authentication</md-button>
</div>
<script type="text/javascript">
var devUp = angular.module('login', ['ngMaterial']);
devUp.controller('loginCtrl', function($scope, $rootScope, $http) {
    console.log("Hello Angular!!!");
    $scope.login = function() {
        $http.post("http://localhost:3000/login", {
            username: "lianboi",
            password: "thomte"
        }).then(function(res) {
            console.log(res);
        }, function(err) {
            console.log(err);
        });
    }
    $scope.testAuth = function() {
        /*$http.get("https://lbjiratest.atlassian.net/rest/auth/1/session", {
            headers: {
                'Authorization': 'Basic YWRtaW46dGVjaG5vY3ViZQ==',
                'Content-Type': 'application/json'
            }
        }).then(function(res) {
            console.log(res);
        }, function(err) {
            console.log(err);
        });*/
        $http.post("http://localhost:3000/testAuth",{}).then(function(res) {
            console.log(res);
        }, function(err) {
            console.log(err);
        });
       
    }
});
</script>
