
<md-toolbar>
    <div>This ih the heading toolbar!</div>
</md-toolbar>
<div class="mainContainer">
    <div layout="row" class="md-primary">
		<div flex='30' layout="column" class="md-primary">X</div>
		<div flex='40' layout="column" ng-controller="loginCtrl" class="md-primary">
			<md-label>Provide username and password to login.</md-label>
			Username: <md-input class="md-primary" ng-model="user.username" type="text">
			Password: <md-input class="md-primary" ng-model="user.password" type="password">
			<md-button class="md-primary" ng-click="login()">submit</md-button>
		</div>
		<div flex='30' layout="column" class="md-primary">Y</div> 
    </div>
</div>
