<md-content style="width:100%">
<div layout="row" layout-align="centre" style="width:100%">
	<div layout="column" flex="100">
		<md-button flex='50' layout='row' class="md-primary" ng-click="createApp()">create a DevApp</md-button>
		<md-button flex='50' layout='row' class='md-primary' ng-click="">View your app dashboard</md-button>
	</div>
	<div layout="column" ng-show="createApp.show" class="md-padding">
		<div flex layout="row">
			<md-label> choose the app to be connected </md-label>
			<span ng-hide='items.selected' ng-model="items.id" ng-repeat="items in createApp.apps" ng-click="addApps()" class="md-padding">{{items.name}}</span>
		</div>
		<div flex='30' layout='row'>
			<div flex ng-repeat="items in createApp.selectedApps" ng-model="items.id" class="md-padding">
				{{items.name}}
				<span ng-click="removeApp()">X</span>
			</div>
		</div>
	</div>
</div>
</md-content>